<header>
	<div class="top">
    <h1><a href="/dashboard">Admin - <%= appName %></a></h1>
		<%-partial('../includes/auth')%>					
	</div>
	<div class="bar">
		<%-partial('../includes/menu')%>
	</div>
</header>