<div id="bar">
	<div id="top_menu">
		<nav>
			<ul>
			  <li><a href="/dashboard">Dashboard</a></li>
			  <li><a href="/system">System</a>
			    <ul>
			      <li><a href="/users">Users</a></li>
			    </ul>
				</li>			
			</ul>
		</nav>
	</div>
</div>